@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e2f;
    color: #f0f8ff;
    margin: 0;
}

.containerForRectangles {
    height: 60vh;
    width: 70%;
    background-color: #2a2a3b;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bar {
    background-color: #4a90e2;
    border-radius: 3px;
    margin: 0 1px;
    transition: height 0.3s, background-color 0.3s;
}

.containerForMenu {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2a2a3b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #f0f8ff;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #cfcfcf;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #4a90e2;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #f0f8ff;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: #f0f8ff;
    border-radius: 50%;
}

button {
    background-color: #367fd2;
    color: #f0f8ff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ab7;
}

select, input[type="range"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    outline: none;
}

select {
    background-color: #3a3a4b;
    color: #f0f8ff;
}

#numberOfArrMem {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #f0f8ff;
}
